*~
.*~
*.swp
kak/.config/kak/plugins/**/*

# # Exclude Directories
# examples/build/
# zhao-m+09/build/

# # Vim YCM
# .ycm_*
#
# #Cmake
# CMakeCache.txt
# CMakeFiles
# Makefile
# cmake_install.cmake
# install_manifest.txt
#
# #C++
# # Compiled Object files
# *.slo
# *.lo
# *.o
# *.obj
#
# # Precompiled Headers
# *.gch
# *.pch
#
# # Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll
#
# # Fortran module files
# *.mod
#
# # Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib
#
# # Executables
# *.exe
# *.out
# *.app
